{
  "projects": [
    {
      "text": "Angel-docs",
      "link": "/Angel-docs/",
      "children": [
        { "text": "config", "link": "/Angel-docs/config" },
        { "text": "main", "link": "/Angel-docs/main" }
      ]
    }
  ]
}
